{% extends 'base.html.twig' %}

{% block title %} Marc Charton | {{ page_name }}{% endblock %}

{% block body %}



        <!-- main -->

        <main role="main-home-wrapper" class="container">


                <div class="row">
    
    
                    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
    
                        <article role="pge-title-content">
    
                            <header>
    
                                <h2>
                                    <span>Marc charton</span>
                                    Développeur &amp; Formateur Web</h2>
    
                            </header>
    
                            <p>Parceque faire du web avec marc c'est vachement bien</p>
    
                        </article>
    
                    </section>
    
    
                    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
    
                        <figure class="effect-oscar">
    
                            <img src="images/home-images/image-1.jpg" alt="" class="img-responsive"/>
    
                            <figcaption>
    
                                <h2>Hire me<span>
                                        Now ! </span>
                                </h2>
    
                                <p>Parceque ça vaut le coup je te jure ;)</p>
    
                                <a href="works-details.html">View more</a>
    
                            </figcaption>
    
                        </figure>
    
                    </section>
    
    
                    <div class="clearfix"></div>
    
    
        
    
                    <div class="clearfix"></div>
    
                </div>
    
        </main>
    
            <!-- main -->



{% endblock %}
